<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0 Copyright © 2018-2020 Headsoft. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.Headsoft.USBPorts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBPorts</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMacPro1,1-PTXH</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>PTXH</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x43ee1022</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>DgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>HS11</string>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 3.2 Type A，2.0 personality</string>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>HS12</string>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 3.2 Type C，2.0 personality</string>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>HS14</string>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>Front USB 3.2 Type A，2.0 personality</string>
					</dict>
					<key>PO10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>PO10</string>
						<key>port</key>
						<data>CgAAAA==</data>
						<key>Comment</key>
						<string>Internal asus led</string>
					</dict>
					<key>PO12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PO12</string>
						<key>port</key>
						<data>DAAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A</string>
					</dict>
					<key>PO13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PO13</string>
						<key>port</key>
						<data>DQAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A</string>
					</dict>
					<key>PO14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>PO14</string>
						<key>port</key>
						<data>DgAAAA==</data>
					</dict>
					<key>POT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>POT3</string>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>Comment</key>
						<string>Front USB 3.2 Type A，2.0 personality</string>
					</dict>
					<key>POT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>POT5</string>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A ，with HS11</string>
					</dict>
					<key>POT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>name</key>
						<string>POT6</string>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type C， with HS12</string>
					</dict>
					<key>POT7</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>POT7</string>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>Front USB 2.0 Type A，with POT3</string>
					</dict>
					<key>POT8</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>POT8</string>
						<key>port</key>
						<data>CAAAAA==</data>
						<key>Comment</key>
						<string>Front USB 2.0 Type A，with HS14</string>
					</dict>
					<key>POT9</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>name</key>
						<string>POT9</string>
						<key>port</key>
						<data>CQAAAA==</data>
						<key>Comment</key>
						<string>Internal Bluetooth</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
		<key>iMacPro1,1-XHC0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IONameMatch</key>
			<string>XHC0</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x149c1022</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>CAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PRT1</string>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A，with PRT5</string>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PRT2</string>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A，with PRT6</string>
					</dict>
					<key>PRT3</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PRT3</string>
						<key>port</key>
						<data>AwAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A，with PRT7</string>
					</dict>
					<key>PRT4</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>name</key>
						<string>PRT4</string>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 2.0 Type A，with PRT8</string>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT5</string>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 3.2 Type A，2.0 personality</string>
					</dict>
					<key>PRT6</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT6</string>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 3.2 Type A，2.0 personality</string>
					</dict>
					<key>PRT7</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT7</string>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 3.2 Type A，2.0 personality</string>
					</dict>
					<key>PRT8</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>name</key>
						<string>PRT8</string>
						<key>port</key>
						<data>CAAAAA==</data>
						<key>Comment</key>
						<string>Rear USB 3.2 Type A，2.0 personality</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMacPro1,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
