<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14A100</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2014 Apple All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.toledaAGPM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>toledaAGPM</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0-toledaAGPM</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>Mac-7BA5B2D9E42DDD94</key>
				<dict>
					<key>GFX0</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>4</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>LogControl</key>
						<integer>1</integer>
					</dict>
					<key>Vendor10deDevice1189</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>4</integer>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
						<key>LogControl</key>
						<integer>1</integer>
					</dict>
					<key>Vendor10deDevice11893</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>4</integer>
							<key>IdleInterval</key>
							<integer>250</integer>
							<key>SensorOption</key>
							<integer>1</integer>
							<key>SensorSampleRate</key>
							<integer>4</integer>
							<key>TargetCount</key>
							<integer>5</integer>
							<key>Threshold_High</key>
							<array>
								<integer>57</integer>
								<integer>70</integer>
								<integer>88</integer>
								<integer>100</integer>
							</array>
							<key>Threshold_Low</key>
							<array>
								<integer>0</integer>
								<integer>68</integer>
								<integer>75</integer>
								<integer>95</integer>
							</array>
						</dict>
						<key>LogControl</key>
						<integer>1</integer>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>Vendor10deDevice11892</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>EnableEnergyPstate</key>
							<integer>1</integer>
							<key>EnergyDOWNThreshold</key>
							<integer>60</integer>
							<key>EnergyPstate</key>
							<integer>8</integer>
							<key>EnergyUPThreshold</key>
							<integer>80</integer>
							<key>EngineDOWNThreshold</key>
							<integer>15</integer>
							<key>EngineUPThreshold</key>
							<integer>30</integer>
							<key>ID</key>
							<integer>4</integer>
							<key>MemDOWNThreshold</key>
							<integer>30</integer>
							<key>MemUPThreshold</key>
							<integer>50</integer>
							<key>MinP0P1</key>
							<integer>11</integer>
							<key>MinP5</key>
							<integer>12</integer>
							<key>MinP8</key>
							<integer>13</integer>
							<key>MinVP0</key>
							<integer>11</integer>
							<key>MinVP1</key>
							<integer>23</integer>
							<key>MinVP5</key>
							<integer>34</integer>
							<key>MinVP8</key>
							<integer>36</integer>
							<key>NumOfPstates</key>
							<integer>14</integer>
							<key>NumOfVPstates</key>
							<integer>37</integer>
							<key>P0Table</key>
							<array>
								<integer>0</integer>
								<integer>1</integer>
								<integer>2</integer>
								<integer>3</integer>
								<integer>4</integer>
								<integer>5</integer>
								<integer>6</integer>
								<integer>7</integer>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>34</integer>
								<integer>36</integer>
							</array>
							<key>P1Table</key>
							<array>
								<integer>12</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>16</integer>
								<integer>17</integer>
								<integer>18</integer>
								<integer>19</integer>
								<integer>20</integer>
								<integer>21</integer>
								<integer>22</integer>
								<integer>23</integer>
								<integer>34</integer>
								<integer>36</integer>
							</array>
						</dict>
						<key>control-id</key>
						<integer>18</integer>
					</dict>
					<key>Vendor10deDevice11891</key>
					<dict>
						<key>BoostPState</key>
						<array>
							<integer>5</integer>
							<integer>5</integer>
							<integer>5</integer>
							<integer>5</integer>
						</array>
						<key>BoostTime</key>
						<array>
							<integer>1</integer>
							<integer>1</integer>
							<integer>1</integer>
							<integer>1</integer>
						</array>
						<key>Heuristic</key>
						<dict>
							<key>EnableEnergyPstate</key>
							<integer>1</integer>
							<key>EnergyDOWNThreshold</key>
							<integer>60</integer>
							<key>EnergyPstate</key>
							<integer>7</integer>
							<key>EnergyUPThreshold</key>
							<integer>80</integer>
							<key>EngineDOWNThreshold</key>
							<integer>15</integer>
							<key>EngineUPThreshold</key>
							<integer>30</integer>
							<key>ID</key>
							<integer>4</integer>
							<key>MemDOWNThreshold</key>
							<integer>30</integer>
							<key>MemUPThreshold</key>
							<integer>50</integer>
							<key>MinP0P1</key>
							<integer>7</integer>
							<key>MinP5</key>
							<integer>12</integer>
							<key>MinP8</key>
							<integer>13</integer>
							<key>MinVP0</key>
							<integer>7</integer>
							<key>MinVP1</key>
							<integer>15</integer>
							<key>MinVP5</key>
							<integer>25</integer>
							<key>MinVP8</key>
							<integer>27</integer>
							<key>NumOfPstates</key>
							<integer>14</integer>
							<key>NumOfVPstates</key>
							<integer>28</integer>
							<key>P0Table</key>
							<array>
								<integer>0</integer>
								<integer>1</integer>
								<integer>2</integer>
								<integer>3</integer>
								<integer>4</integer>
								<integer>5</integer>
								<integer>6</integer>
								<integer>7</integer>
								<integer>21</integer>
								<integer>22</integer>
								<integer>23</integer>
								<integer>24</integer>
								<integer>25</integer>
								<integer>27</integer>
							</array>
							<key>P1Table</key>
							<array>
								<integer>8</integer>
								<integer>9</integer>
								<integer>10</integer>
								<integer>11</integer>
								<integer>12</integer>
								<integer>13</integer>
								<integer>14</integer>
								<integer>15</integer>
								<integer>21</integer>
								<integer>22</integer>
								<integer>23</integer>
								<integer>24</integer>
								<integer>25</integer>
								<integer>27</integer>
							</array>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
					</dict>
					<key>LogControl</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Apple. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
